### READ ME

Use the code blocks below to answer each quiz question. Only print the output required for each question. Do not edit the comments at the top of each code cell. Otherwise, the auto-grader may misinterpret your results. See Question 0 as an an example of how to complete a task (leave it in your notebook; don't delete it):

In [1]:
# Question 0: Create a DataFrame with three rows and four columns. Name the 
# columns 'Col1', 'Col2', 'Col3', 'Col4'. Create an index for the DataFrame
# and give the rows the index values of 'Row1', 'Row2', 'Row3'. Place a value
# in each column equal to the {ColumnName/RowName}. e.g. Col1/Row1. Print
# the entire DataFrame.

import pandas as pd

df = pd.DataFrame(columns=['Col1', 'Col2', 'Col3', 'Col4'], index=['Row1', 'Row2', 'Row3'])

for col in df:
  for i, value in df[col].items():
    df.at[i, col] = f'{i}/{col}'

df

           Col1       Col2       Col3       Col4
Row1  Row1/Col1  Row1/Col2  Row1/Col3  Row1/Col4
Row2  Row2/Col1  Row2/Col2  Row2/Col3  Row2/Col4
Row3  Row3/Col1  Row3/Col2  Row3/Col3  Row3/Col4

### Regression Questions

The conceptual questions (which do not require coding) are skipped in this notebook

In [ ]:
# Question 1: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 2: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 3: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 4: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 5: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 6: Conceptual question; answer in MyEducator. Nothing to do here

In [5]:
# Question 7: Download the StudentsPerformance.csv dataset that is provided with this exam. Import it into a DataFrame. Print a list of column names and their associated data types. Which columns would make sense to predict as a label in an MLR?
df_students = pd.read_csv('StudentsPerformance.csv')
for col in df_students.columns:
    print(f'{col}: {df_students[col].dtype}')

gender: object
race/ethnicity: object
parental level of education: object
lunch: object
test preparation course: object
math score: int64
reading score: int64
writing score: int64

In [ ]:
# Question 8: Drop any rows that contain null values in any column using .dropna(). Use the statsmodels package to create an MLR/OLS model to predict math score as a function of the reading score and writing score. Do not split the data; use the entire dataset for training. Allow the y-intercept to vary.
df_students.dropna(inplace=True)

import statsmodels.api as sm
y = df_students['math score']
X = df_students[['reading score', 'writing score']].assign(const=1)  # Add const=1 because we're in statsmodels

model = sm.OLS(y, X).fit()
print(model.summary())
# Which feature best predicts their math score?
# reading score

                            OLS Regression Results
==============================================================================
Dep. Variable:             math score   R-squared:                       0.674
Model:                            OLS   Adj. R-squared:                  0.673
Method:                 Least Squares   F-statistic:                     1031.
Date:                Fri, 07 Mar 2025   Prob (F-statistic):          2.25e-243
Time:                        11:35:18   Log-Likelihood:                -3576.9
No. Observations:                1000   AIC:                             7160.
Df Residuals:                     997   BIC:                             7175.
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
reading score     0.6013      0.063      9.538      0.000       0.478       0.725
writing score     0.2494      0.061      4.118      0.000       0.131       0.368
const             7.5241      1.328      5.665      0.000       4.918      10.131
==============================================================================
Omnibus:                       10.227   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.006   Jarque-Bera (JB):                6.801
Skew:                           0.006   Prob(JB):                       0.0334
Kurtosis:                       2.596   Cond. No.                         481.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Question 9: In the original DataFrame convert each of the non-numeric features into dummy codes. Generate an OLS/MLR model 
# (using the statsmodels package) to predict math score. However, do not include either reading score or writing score as features;
#  only include those dummy codes created from the categorical features. Do not split the data; use the entire dataset for training.
#  Print the results summary.
y = df_students['math score']
X = pd.get_dummies(df_students.drop(columns=['math score', 'reading score', 'writing score']), drop_first=True, dtype=int).assign(const=1)
model = sm.OLS(y, X).fit()
print(model.summary())
# Do test preparation courses improve math scores?
# I'm assuming that because "test preparation course_none" has a negative effect that the opposite is true?

                            OLS Regression Results
==============================================================================
Dep. Variable:             math score   R-squared:                       0.255
Model:                            OLS   Adj. R-squared:                  0.246
Method:                 Least Squares   F-statistic:                     28.12
Date:                Fri, 07 Mar 2025   Prob (F-statistic):           2.62e-55
Time:                        11:50:54   Log-Likelihood:                -3990.3
No. Observations:                1000   AIC:                             8007.
Df Residuals:                     987   BIC:                             8070.
Df Model:                          12
Covariance Type:            nonrobust
=================================================================================================================
                                                    coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
gender_male                                       4.9953      0.839      5.954      0.000       3.349       6.642
race/ethnicity_group B                            2.0408      1.700      1.201      0.230      -1.295       5.376
race/ethnicity_group C                            2.4700      1.592      1.552      0.121      -0.654       5.594
race/ethnicity_group D                            5.3410      1.624      3.289      0.001       2.154       8.528
race/ethnicity_group E                           10.1347      1.802      5.626      0.000       6.599      13.670
parental level of education_bachelor's degree     1.9661      1.502      1.309      0.191      -0.981       4.913
parental level of education_high school          -4.8027      1.297     -3.703      0.000      -7.348      -2.257
parental level of education_master's degree       2.8884      1.938      1.490      0.136      -0.915       6.692
parental level of education_some college         -0.5827      1.247     -0.467      0.640      -3.030       1.864
parental level of education_some high school     -4.2487      1.333     -3.187      0.001      -6.865      -1.633
lunch_standard                                   10.8768      0.873     12.463      0.000       9.164      12.589
test preparation course_none                     -5.4947      0.876     -6.275      0.000      -7.213      -3.776
const                                            57.6305      1.872     30.784      0.000      53.957      61.304
==============================================================================
Omnibus:                        9.026   Durbin-Watson:                   2.043
Prob(Omnibus):                  0.011   Jarque-Bera (JB):                9.201
Skew:                          -0.232   Prob(JB):                       0.0100
Kurtosis:                       2.928   Cond. No.                         12.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [22]:
# Question 10: Generate OLS/MLR models to predict writing scores and reading scores using the same set of features. 
# Similarly, drop the other two score features from each score model you create. For example, predict reading score,
#  but do not include math score or writing score as features. Do not split the data; use the entire dataset for training.
#  Print the results of each model summary. 
w_y = df_students['writing score']
r_y = df_students['reading score']
X = pd.get_dummies(df_students.drop(columns=['math score', 'reading score', 'writing score']), drop_first=True, dtype=int).assign(const=1)

model_r = sm.OLS(r_y, X).fit()
model_w = sm.OLS(w_y, X).fit()

# print(model_r.summary())
print(model_w.summary())
# Which score (reading, writing, or math) is most accurately predicted?

                            OLS Regression Results
==============================================================================
Dep. Variable:          writing score   R-squared:                       0.334
Model:                            OLS   Adj. R-squared:                  0.326
Method:                 Least Squares   F-statistic:                     41.25
Date:                Fri, 07 Mar 2025   Prob (F-statistic):           8.17e-79
Time:                        13:40:22   Log-Likelihood:                -3936.2
No. Observations:                1000   AIC:                             7898.
Df Residuals:                     987   BIC:                             7962.
Df Model:                          12
Covariance Type:            nonrobust
=================================================================================================================
                                                    coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
gender_male                                      -9.0965      0.795    -11.444      0.000     -10.656      -7.537
race/ethnicity_group B                            1.2201      1.610      0.758      0.449      -1.940       4.380
race/ethnicity_group C                            2.4126      1.508      1.600      0.110      -0.547       5.372
race/ethnicity_group D                            5.9307      1.539      3.855      0.000       2.911       8.950
race/ethnicity_group E                            5.1373      1.707      3.010      0.003       1.788       8.487
parental level of education_bachelor's degree     3.4849      1.423      2.449      0.014       0.693       6.277
parental level of education_high school          -5.8143      1.229     -4.732      0.000      -8.226      -3.403
parental level of education_master's degree       5.1832      1.836      2.823      0.005       1.580       8.787
parental level of education_some college         -0.9204      1.181     -0.779      0.436      -3.239       1.398
parental level of education_some high school     -5.3222      1.263     -4.214      0.000      -7.801      -2.844
lunch_standard                                    8.2028      0.827      9.921      0.000       6.580       9.825
test preparation course_none                    -10.0587      0.830    -12.125      0.000     -11.687      -8.431
const                                            71.9142      1.774     40.548      0.000      68.434      75.395
==============================================================================
Omnibus:                       16.647   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.222
Skew:                          -0.321   Prob(JB):                     0.000182
Kurtosis:                       2.982   Cond. No.                         12.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [35]:
# Question 11: Using the last model you created to predict math score (which includes all of the dummy codes), 
# what is the predicted math score of a child who is female, race/ethnicity_group C, parental level of education_some college,
#  gets a reduced lunch, and has not taken a test preparation course? Print the predicted value.
print(f'Prediction: {model.predict([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1])[0]}')

Prediction: 54.023197140861775

### Classification

In [ ]:
# Question 12: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 13: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 14: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 15: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 16: Conceptual question; answer in MyEducator. Nothing to do here

In [ ]:
# Question 17: Conceptual question; answer in MyEducator. Nothing to do here

In [37]:
#  Question 18: Import all needed packages for classification modeling, splitting the data, and calculating fit metrics. 
# Import the Lending Club dataset lc_xs.csv included with this midterm. 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
import matplotlib.pyplot as plt

loans_df = pd.read_csv('lc_xs.csv')
display(loans_df.head())
print(loans_df.shape[0])
# How many records are in the dataset?

,loan_status,loan_status_numeric,loan_amnt,issue_d,term,int_rate,installment,total_pymnt,total_rec_prncp,total_rec_int,...,pub_rec,revol_bal,revol_util,tot_coll_amt,tot_cur_bal,total_acc,total_rev_hi_lim,dti,grade,sub_grade
0,Current,5,25000,2016-12-01,60 months,13.99,581.58,14630.570000,8353.44,6277.13,...,1.0,7165,72.4,409.0,226630.0,31.0,9900.0,9.07,C,C3
1,Charged Off,0,8000,2016-05-01,36 months,8.39,252.14,5384.790000,3749.64,785.15,...,0.0,10077,36.9,0.0,28185.0,45.0,27300.0,21.99,B,B1
2,Charged Off,0,35000,2018-05-01,60 months,18.45,897.37,2763.860000,1094.39,1669.47,...,0.0,5831,48.6,0.0,12197.0,22.0,12000.0,15.63,D,D2
3,Fully Paid,6,15000,2017-04-01,36 months,11.39,493.86,15762.912745,15000.00,762.91,...,0.0,10854,47.4,0.0,131128.0,32.0,22900.0,23.99,B,B3
4,Current,5,12500,2018-11-01,36 months,6.46,382.89,1132.970000,951.90,181.07,...,1.0,12731,43.6,0.0,55713.0,34.0,29200.0,9.07,A,A1

20951

In [38]:
# Question 19: Run the code below. If you named your DataFrame something other than 'df', then be sure to change 'df' 
# to whatever your DataFrame is named before running the code.
loans_df['loan_status'].value_counts()
# Based on the results, do you believe that Lending Club is doing a decent job of determining who will pay back their loans?

loan_status
Current               13268
Fully Paid             5484
Charged Off            1708
Late (31-120 days)      313
In Grace Period         106
Late (16-30 days)        72
Name: count, dtype: int64

In [ ]:
# QUESTION 20: Drop the features: loan_status_numeric, issue_d, title, emp_title, emp_length, earliest_cr_line, mths_since_last_delinq, 
# mths_since_last_record, sub_grade. Pseudocode:
#      df.drop(columns=[name, name, ..., name], inplace=True)
loans_df.drop(columns=['loan_status_numeric', 'issue_d', 'title', 'emp_title', 'emp_length', 'earliest_cr_line', 'mths_since_last_delinq', 
                       'mths_since_last_record', 'sub_grade'], inplace=True)

# Since customers who are Current, In Grace Period, Late (16-30 days), and Late (31-120 days) have not finished their loan, 
# drop all records except for those which are Fully Paid or Charged Off. Pseudocode: 
#      df.loc[(df['column_name'] == A) | (df['column_name'] == B)]
loans_df = loans_df[loans_df['loan_status'].isin(['Fully Paid', 'Charged Off'])]

# Drop any rows containing null data using the command: df.dropna(inplace=True). 
loans_df.dropna(inplace=True)

# Finally, create dummy codes for all remaining categorical features (but not for the label loan_status)
X = pd.get_dummies(loans_df.drop(columns=['loan_status']), drop_first=True, dtype=int)

# Print out the first five records of the resulting DataFrame. How many columns are left after completing each of these tasks?
X.head()

,loan_amnt,int_rate,installment,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,annual_inc,acc_now_delinq,delinq_2yrs,...,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G
1,8000,8.39,252.14,5384.790000,3749.64,785.15,0.0,59000.0,0.0,0.0,...,0,1,0,0,1,0,0,0,0,0
2,35000,18.45,897.37,2763.860000,1094.39,1669.47,0.0,50000.0,0.0,0.0,...,0,1,0,1,0,0,1,0,0,0
3,15000,11.39,493.86,15762.912745,15000.00,762.91,0.0,98000.0,0.0,0.0,...,0,0,0,1,1,0,0,0,0,0
6,27250,17.27,975.21,27961.440003,27250.00,711.44,0.0,120000.0,0.0,0.0,...,0,1,0,1,0,0,1,0,0,0
10,30000,9.44,629.18,10403.600000,4499.17,2406.08,0.0,60000.0,0.0,0.0,...,0,1,1,0,1,0,0,0,0,0

In [45]:
# Question 21: Set the y and X datasets assuming that loan_status will be the label. Print the first 5 records of X
y = loans_df['loan_status']

X.head()

,loan_amnt,int_rate,installment,total_pymnt,total_rec_prncp,total_rec_int,total_rec_late_fee,annual_inc,acc_now_delinq,delinq_2yrs,...,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G
1,8000,8.39,252.14,5384.790000,3749.64,785.15,0.0,59000.0,0.0,0.0,...,0,1,0,0,1,0,0,0,0,0
2,35000,18.45,897.37,2763.860000,1094.39,1669.47,0.0,50000.0,0.0,0.0,...,0,1,0,1,0,0,1,0,0,0
3,15000,11.39,493.86,15762.912745,15000.00,762.91,0.0,98000.0,0.0,0.0,...,0,0,0,1,1,0,0,0,0,0
6,27250,17.27,975.21,27961.440003,27250.00,711.44,0.0,120000.0,0.0,0.0,...,0,1,0,1,0,0,1,0,0,0
10,30000,9.44,629.18,10403.600000,4499.17,2406.08,0.0,60000.0,0.0,0.0,...,0,1,1,0,1,0,0,0,0,0

In [54]:
# Question 22: Split the data using a 50/50 split and random seed = 12345
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=12345)

# Next, train a Decision Tree Classifier model using a random_state=12345 and fit the model with the appropriate data set
model = DecisionTreeClassifier(random_state=12345).fit(X_train, y_train)

# Print the Accuracy score using either the .accuracy_score() or .score() method of the Decision Tree Classifier model object. 
# Be sure to pass in the appropriate data into those objects. What is that score? Copy and paste the entire number with all decimals included
# model.score(X_test, y_test)
y_pred = model.predict(X_test)

y_test_dummies = pd.get_dummies(y_test, drop_first=True)
y_pred_dummies = pd.get_dummies(y_pred, drop_first=True)

# Accuracy  = (true positives + true negatives) / (total cases); ranges from 0 (worst) to 1 (best)
print(f"Accuracy:\t{metrics.accuracy_score(y_test, y_pred)}")

Accuracy:	0.984683932052353

In [55]:
# Question 23: Predict the labels for test dataset and display them in a dataframe along with the actual values. 
# Print only the LAST 10 records. Which row index was predicted incorrectly in these last 10 records? 
y_pred = model.predict(X_test)

df_results = pd.DataFrame({'Actual status' : y_test, 'Predicted status' : y_pred})
df_results.tail(10)

      Actual status Predicted status
20875   Charged Off      Charged Off
3411    Charged Off      Charged Off
3311    Charged Off       Fully Paid
11648    Fully Paid       Fully Paid
20422    Fully Paid       Fully Paid
20190   Charged Off      Charged Off
20358    Fully Paid       Fully Paid
13148   Charged Off      Charged Off
6668    Charged Off      Charged Off
19710    Fully Paid       Fully Paid

In [ ]:
# Question 24: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 25: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 26: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 27: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 28: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 29: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 30: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 31: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 32: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 33: Conceptual question; answer in MyEducator. Nothing to do here.

In [ ]:
# Question 34: Conceptual question; answer in MyEducator. Nothing to do here.