In [4]:
import pandas as pd

# Business case: ML pipelone: predict charges for FUTURE customers
df_ins = pd.read_csv(r'C:\Users\camde\OneDrive - Brigham Young University\IS JUNIOR CORE-Camdens-Laptop\IS 455\univariate_automation\insurance.csv')
display(df_ins.head())

# Business case: Data analytics, build report presentation for key indicator analysis
df_nba = pd.read_csv(r'C:\Users\camde\OneDrive - Brigham Young University\IS JUNIOR CORE-Camdens-Laptop\IS 455\nbastats\nba_salaries.csv')
display(df_nba.head())

# Business case: predict salary for EXISTING players
df_air = pd.read_csv(r'C:\Users\camde\OneDrive - Brigham Young University\IS JUNIOR CORE-Camdens-Laptop\IS 455\univariate_automation\airline_satisfaction.csv')
df_air.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4,curryst01
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4,walljo01
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9,westbru01
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9,jamesle01
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0.0

###CREATING UNIVARIATE_STATS FUNCTION###

In [22]:
def univariate_stats(df, roundto = 4):
    import pandas as pd

    df_results = pd.DataFrame(columns=['dtype', 'count', 'missing', 'unique', 'mode', 
                                       'min', 'q1', 'median', 'q3', 'max', 
                                       'mean', 'std', 'skew', 'kurt'])
    
    for col in df:
        print(col)
        dtype = df[col].dtype
        count = df[col].count()
        missing = df[col].isna().sum()
        unique = df[col].nunique()
        mode = df[col].mode()[0]
        
        if pd.api.types.is_numeric_dtype(df[col]):
            min = df[col].min()
            q1 = df[col].quantile(0.25)
            median = df[col].median()
            q3 = df[col].quantile(0.75)
            max = df[col].max()
            mean = df[col].mean()
            std = df[col].std()
            skew = df[col].skew()
            kurt = df[col].kurt()

            df_results.loc[col] = [dtype, count, missing, unique, mode, 
                                   round(min, roundto), round(q1, roundto), round(median, roundto),
                                    round(q3, roundto), round(max, roundto), round(mean, roundto), 
                                    round(std, roundto), round(skew, roundto), round(kurt, roundto)]
        
        else:
            df_results.loc[col] = [dtype, count, missing, unique, mode, "", "", "", "", "", "", "", "", ""]


    return df_results

In [2]:
# importing newly written function from external file
import sys
sys.path.append(r'C:\Users\camde\OneDrive - Brigham Young University\IS JUNIOR CORE-Camdens-Laptop\IS 455\myfunctions')
import myfunctions as my

my.univariate_stats(df_ins, 2)

,dtype,count,missing,unique,mode,min,q1,median,q3,max,mean,std,skew,kurt
age,int64,1338,0,47,18,18,27.0,39.0,51.0,64,39.21,14.05,0.06,-1.25
sex,object,1338,0,2,male,,,,,,,,,
bmi,float64,1338,0,548,32.3,15.96,26.3,30.4,34.69,53.13,30.66,6.1,0.28,-0.05
children,int64,1338,0,6,0,0,0.0,1.0,2.0,5,1.09,1.21,0.94,0.2
smoker,object,1338,0,2,no,,,,,,,,,
region,object,1338,0,4,southeast,,,,,,,,,
charges,float64,1338,0,1337,1639.5631,1121.87,4740.29,9382.03,16639.91,63770.43,13270.42,12110.01,1.52,1.61

###data cleaning notes###
- correct skewness on charges and bmi
- make a second version of children that is an object
- object features appear to be fine, but need to confirm with count plots

In [5]:
my.univariate_stats(df_nba, 2)

,dtype,count,missing,unique,mode,min,q1,median,q3,max,mean,std,skew,kurt
Unnamed: 0,int64,467,0,467,0,0,116.5,233.0,349.5,466,233.0,134.96,0.0,-1.2
Player Name,object,467,0,467,AJ Griffin,,,,,,,,,
Salary,int64,467,0,354,508891,5849,1782621.0,3722040.0,10633543.5,48070014,8416598.75,10708118.05,1.84,2.66
Position,object,467,0,9,SG,,,,,,,,,
Age,int64,467,0,22,23,19,23.0,25.0,29.0,42,25.82,4.28,0.71,0.07
Team,object,467,0,75,SAC,,,,,,,,,
GP,int64,467,0,80,67,1,31.0,55.0,68.5,83,48.23,24.81,-0.52,-1.0
GS,int64,467,0,79,0,0,1.0,8.0,45.5,83,22.65,27.09,0.88,-0.83
MP,float64,467,0,255,5.6,1.8,12.5,19.2,28.3,41.0,19.87,9.55,0.1,-1.06
FG,float64,467,0,96,2.1,0.0,1.6,2.7,4.3,11.2,3.35,2.46,1.11,0.61
FGA,float64,467,0,157,1.0,0.0,3.3,5.8,9.4,22.2,7.12,5.02,1.08,0.39
FG%,float64,466,1,227,0.5,0.0,0.42,0.46,0.51,1.0,0.47,0.11,0.05,5.14
3P,float64,467,0,39,0.0,0.0,0.3,0.8,1.5,4.9,1.0,0.88,1.13,1.35
3PA,float64,467,0,84,0.0,0.0,1.0,2.4,4.15,11.4,2.79,2.26,0.98,0.81
3P%,float64,454,13,186,0.0,0.0,0.29,0.34,0.39,1.0,0.33,0.13,0.23,6.28
2P,float64,467,0,78,0.9,0.0,0.9,1.7,3.3,10.5,2.36,1.99,1.42,1.93
2PA,float64,467,0,125,1.9,0.0,1.8,3.2,5.85,17.8,4.33,3.57,1.39,1.61
2P%,float64,463,4,228,0.5,0.0,0.49,0.54,0.59,1.0,0.53,0.14,-0.83,6.14
eFG%,float64,466,1,232,0.5,0.0,0.49,0.54,0.58,1.0,0.53,0.1,-0.85,7.84
FT,float64,467,0,62,0.6,0.0,0.5,0.9,1.85,10.0,1.44,1.57,2.25,6.25
FTA,float64,467,0,75,1.0,0.0,0.6,1.2,2.35,12.3,1.85,1.9,2.17,5.97
FT%,float64,444,23,228,1.0,0.0,0.69,0.77,0.84,1.0,0.75,0.15,-1.66,6.27
ORB,float64,467,0,38,0.4,0.0,0.4,0.7,1.1,5.1,0.87,0.75,1.85,4.74
DRB,float64,467,0,74,1.3,0.0,1.4,2.3,3.5,9.6,2.66,1.71,1.14,1.5
TRB,float64,467,0,97,1.7,0.0,1.9,3.0,4.5,12.5,3.53,2.28,1.24,1.83
AST,float64,467,0,77,0.5,0.0,0.8,1.4,2.9,10.7,2.11,1.96,1.59,2.42
STL,float64,467,0,21,0.3,0.0,0.3,0.6,0.8,3.0,0.61,0.4,1.1,2.91
BLK,float64,467,0,21,0.2,0.0,0.1,0.3,0.5,2.5,0.38,0.36,2.17,6.86
TOV,float64,467,0,40,0.9,0.0,0.5,0.9,1.5,4.1,1.11,0.83,1.18,1.05
PF,float64,467,0,39,1.6,0.0,1.2,1.7,2.2,5.0,1.7,0.78,0.21,0.31
PTS,float64,467,0,200,3.0,0.0,4.1,7.1,11.7,33.1,9.13,6.91,1.22,0.98
Player-additional,object,467,0,467,achiupr01,,,,,,,,,