### READ ME

Use the code blocks below to answer each quiz question. Only print the output required for each question. Do not edit the comments at the top of each code cell. Otherwise, the auto-grader may misinterpret your results. See Question 0 as an an example of how to complete a task (leave it in your notebook; don't delete it):

In [1]:
# Question 0: Create a DataFrame with three rows and four columns. Name the 
# columns 'Col1', 'Col2', 'Col3', 'Col4'. Create an index for the DataFrame
# and give the rows the index values of 'Row1', 'Row2', 'Row3'. Place a value
# in each column equal to the {ColumnName/RowName}. e.g. Col1/Row1. Print
# the entire DataFrame.

import pandas as pd

df = pd.DataFrame(columns=['Col1', 'Col2', 'Col3', 'Col4'], index=['Row1', 'Row2', 'Row3'])

for col in df:
  for i, value in df[col].items():
    df.at[i, col] = f'{i}/{col}'

df

           Col1       Col2       Col3       Col4
Row1  Row1/Col1  Row1/Col2  Row1/Col3  Row1/Col4
Row2  Row2/Col1  Row2/Col2  Row2/Col3  Row2/Col4
Row3  Row3/Col1  Row3/Col2  Row3/Col3  Row3/Col4

In [15]:
# Question 1: 

# Read each dataset into its own DataFrame; e.g. df_projects, df_resources, df_schools, etc.
# NOTE: donors.db contains a single table called "donors"
# print the columns found in each DataFrame in any order you want
import sqlite3

# CSVS
df_projects = pd.read_csv(r'projects.csv')
df_resources = pd.read_csv(r'resources.csv')
df_schools = pd.read_csv(r'schools.csv')
df_teachers = pd.read_csv(r'teachers.csv')

# CREATE DATAFRAME FROM DONORS TABLE IN DONORS.DB
conn = sqlite3.connect('donors.db')
select_all = "SELECT * FROM donors"
cursor = conn.execute(select_all)
data = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
df_donors = pd.DataFrame(data, columns=columns)

# CREATE DATAFRAME FROM DONATIONS.JSON
df_donations = pd.read_json(r'donations.json')


print(df_projects.columns)
print(df_resources.columns)
print(df_schools.columns)
print(df_teachers.columns)
print(df_donors.columns)
print(df_donations.columns)

Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Year', 'Month', 'Weekday', 'Project Current Status',
       'Days to Funded', 'Days Live'],
      dtype='object')
Index(['Project ID', 'Resource Item Name', 'Resource Quantity',
       'Resource Unit Price', 'Resource Vendor Name'],
      dtype='object')
Index(['School ID', 'School Name', 'School Metro Type',
       'School Percentage Free Lunch', 'School State', 'School Zip',
       'School City', 'School County', 'School District'],
      dtype='object')
Index(['Teacher ID', 'Teacher Prefix', 'Teacher First Project Posted Date'], dtype='object')
Index(['Donor ID', 'Donor City', 'Donor State', 'Donor Is Teacher'], dtype='object')
Index(['Project ID', 'Donation ID', 'Donor ID',
       'Donation Included Optional Donation', 'Donation Amount',
       'Donor Cart Sequence', 'Donation Received Date'],
      dtype='object')

In [18]:
# Question 2: 

# Merge the six DataFrames into a single DataFrame called df
# Infer the primary key/foreign key relationships based on connecting matching column ID names
# Print the complete column list of df
# Print the first five records
df = df_projects.merge(df_resources, on='Project ID').merge(df_schools, on='School ID').merge(df_teachers, on='Teacher ID').merge(
    df_donations, on='Project ID').merge(df_donors, on='Donor ID')

df.columns
df.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,...,Teacher First Project Posted Date,Donation ID,Donor ID,Donation Included Optional Donation,Donation Amount,Donor Cart Sequence,Donation Received Date,Donor City,Donor State,Donor Is Teacher
0,27a55308efb34a59e180b7558632b746,b4fe590bff79ebc2f15ff8f36dffe8d4,20ff00bfa421ba5e716205aacc6ec9d2,3,Teacher-Led,Chromebooks,Every morning our student body begins their da...,Every morning our student body begins their da...,My students need 2 Chrome books to expand thei...,"Literacy & Language, History & Civics",...,2013-10-06,66708f3237761b938d54f2e834e0ae20,f90db263ed1bfc8f868c21f34183e96d,Yes,10.0,2,2014-02-05 08:27:05,Washington,Utah,No
1,27a55308efb34a59e180b7558632b746,b4fe590bff79ebc2f15ff8f36dffe8d4,20ff00bfa421ba5e716205aacc6ec9d2,3,Teacher-Led,Chromebooks,Every morning our student body begins their da...,Every morning our student body begins their da...,My students need 2 Chrome books to expand thei...,"Literacy & Language, History & Civics",...,2013-10-06,b8d5df9a00aa5e8e8920db6bd2771f05,aef0023b0946566606332e9c1224b5ef,No,40.0,3,2014-01-30 09:36:34,Saint George,Utah,No
2,27a55308efb34a59e180b7558632b746,b4fe590bff79ebc2f15ff8f36dffe8d4,20ff00bfa421ba5e716205aacc6ec9d2,3,Teacher-Led,Chromebooks,Every morning our student body begins their da...,Every morning our student body begins their da...,My students need 2 Chrome books to expand thei...,"Literacy & Language, History & Civics",...,2013-10-06,881a36598aa375a8e59cc9c1a5d8ede2,859167e0f0df8abb46b78f9861a9f6d0,No,10.0,1,2014-01-31 16:12:04,Saint George,Utah,No
3,27a55308efb34a59e180b7558632b746,b4fe590bff79ebc2f15ff8f36dffe8d4,20ff00bfa421ba5e716205aacc6ec9d2,3,Teacher-Led,Chromebooks,Every morning our student body begins their da...,Every morning our student body begins their da...,My students need 2 Chrome books to expand thei...,"Literacy & Language, History & Civics",...,2013-10-06,27935dc504011b20e75e461ceb676a22,01866da9a9b0a26beed12ae6c553ba03,Yes,25.0,1,2014-02-03 19:17:33,Orem,Utah,No
4,27a55308efb34a59e180b7558632b746,b4fe590bff79ebc2f15ff8f36dffe8d4,20ff00bfa421ba5e716205aacc6ec9d2,3,Teacher-Led,Chromebooks,Every morning our student body begins their da...,Every morning our student body begins their da...,My students need 2 Chrome books to expand thei...,"Literacy & Language, History & Civics",...,2013-10-06,552989e8e0e6b18c8e650e2579139555,7de355a814bbae5d6b80e78964d1a996,Yes,100.0,1,2014-02-03 19:03:36,Saint George,Utah,No

In [21]:
# Question 3:

# Print the number of rows in this new DataFrame df
df.shape[0]

308831

In [27]:
# Question 4:

# Filter out all records that are not in Utah County. In other words, only Utah County records should remain in the DataFrame df
# Print the number of rows in this reduced DataFrame
reduced_df = df[df['School County'] == 'Utah']
reduced_df.shape[0]

44873

In [30]:
# Question 5:

# Print the average donation value from this reduced dataset
reduced_df['Donation Amount'].mean()

70.65649611124731

In [31]:
# Question 6:

# Print the median donation value from this reduced dataset
reduced_df['Donation Amount'].median()

25.0

In [32]:
# Question 7:

# Print the donation value skewness from this reduced dataset
reduced_df['Donation Amount'].skew()

9.208363644142237

In [34]:
# Question 8:

# Store df in a new sqlite db called donors_choose.db using the table name donors_choose
conn = sqlite3.connect('donors_choose.db')

reduced_df.to_sql('donors_choose', conn, if_exists='replace', index=False)

conn.commit()
conn.close()